*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.ds-fl{
    display: flex;
}

.position{
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.jc-sb{
    justify-content: space-between;
}

/* Header Section  */

header{
    /* margin: 1rem; */
    height: 84px;
    width: 100vw;
    /* width: 1440px; */
}

/* Left header  */

.left-items{
    margin-left: 1rem;
    /* width: 44.18rem; */
}

.logo{
    font-size: 25px;
}

.list{
    margin-left: 2rem;
}

.list li{
    list-style: none;
    margin: 2rem
}

.list li a{
    text-decoration: none;
    font-size: 18px
}

/* right header  */

.right-items{
    margin-right: 1rem;
}


button{
    /* border: 2px solid red; */
    height: 2.39rem;
    width: 9rem;
    font-size: 15px;
    height: 3rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.register{
    background: linear-gradient(#FF0000 -143.78%, rgba(238, 17, 17, 0.114583) -8.2%, rgba(237, 63, 63, 0.114583) 110.24%, rgba(251, 59, 59, 0.114583) 194.61%);


}

.login{
    background: linear-gradient(93.48deg, #0074FF -143.78%, rgba(0, 116, 255, 0.114583) 47.4%, rgba(0, 116, 255, 0.114583) 101.65%, rgba(0, 116, 255, 0.114583) 194.61%, rgba(0, 116, 255, 0) 213.2%);


}

.profile{
    justify-content: center;
    align-items: center;
}

.notification{
    margin: 0 1rem 0 1rem;
}

/* Section 1 Styleing */

.Container{
    /* height: 39.25rem; */
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#588CF1 68.54%, rgba(88, 140, 241, 0) 100%);
}

/* left section 1  */

.left{
    height: 329px;
    width: 408px;
    margin-top: 78px;
    margin-left: 172px;
    /* margin: 78px 860px 129px 172px; */
    justify-content: center;
    align-items: center;
    color: white;
}

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading h1{
    
}

.content{
    text-align: center;
    margin-top: 30px;
}


/* right section 1  */

.right{
    justify-content: center;
    align-items: center;
    background: radial-gradient(97.61% 55.99% at 50.15% 44.01%, rgba(22, 81, 123, 0.69) 0%, #1E1A36 100%) ;
    margin-right: 164px;
    margin-top: 228px;
    width: 304px;
    height: 400px;
    border-radius: 10px;
}

.form-head{
    margin-top: 20px;
    text-align: center;
    color: white;
}

.forms{
    margin-top: 20px;
    text-align: center;
}

.forms h4{
    font-size: 25px;
    margin-top: 18px;
    color: white;
}

.forms input{
    width: 242px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}

.forms button{
    margin-top: 30px;
    border-radius: 10px;
}

/* Section 2 Styling */

.video-part{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.top h1{

}

.middle{
    margin-top: 15px;
}

.down{
    margin-top: 20px;
    margin-left: 200px;
}

.down li{
    margin-top: 10px;
    text-align: start;
}

/* Footer styleing */

.footer{
    width: 100vw;
    margin-top: 1rem;
    background: linear-gradient(#588CF1 92.88%, rgba(88, 140, 241, 0.0572917) 100%, rgba(88, 140, 241, 0) 100%);
    height: 300px;
}

.left-footer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 150px;
}

.footer-left-top{
    display: flex;
    /* margin-top: 40px;
    margin-left: 150px; */
}

.footer-left-top h3{
    margin-left: 10px;
    color: white;
}

.footer-middle{
    margin-top: 1rem;
}

.footer-down{
    display: flex;
    margin-top: 1rem;
    /* margin-left: 1rem; */
}

.footer-down object{
    margin-left: 1rem;
}

.right-footer{
    margin: auto;
}

.links{
    margin-left: 8rem;
    color: white;
}

.links h3{
    font-weight: bold;
    font-size: 25px;
}

.anchor{
    display: flex;
    flex-direction: column;
}

.anchor a{
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    font-size: 15px;
}

.contact-content a{
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* About Us Page */

.section-1{
    position: relative;
    width: 100vw;
}

.section-1 h1{
    position: absolute;
    top: 15rem;
    left: 10rem;
    font-size: 3rem;
    color: white;
}

.image{
    width: 100%;
}

.section-2{
    width: 100vw;
    background: #D9D9D9;
    margin-top: -1rem;
}

.about-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-who{
    margin-left: 96px;
    margin-top: 38px;
    background: linear-gradient(180deg, #7A9FFF 0%, rgba(165, 190, 255, 0) 100%);
    border-radius: 5px;
    width: 580px;
    height: 795px;
}

.item-who h3{
    text-align: center;
    margin-top: 2rem;
}

.item-who li{
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.item-aim{
    width: 580px;
    height: 795px;
    margin-left: 84px;
    margin-right: 100px;
    margin-top: 38px;
    background: linear-gradient(180deg, #7A9FFF 0%, rgba(165, 190, 255, 0) 100%);
    border-radius: 5px;
}

.item-aim h3{
    text-align: center;
    margin-top: 2rem;
}

.item-aim li{
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

/* team styling */

.section-3{
    width: 100vw;
    position: relative;
    display: flex;
}

.section-3 h1{
    position: absolute;
    top: 1rem;
    left: 720px;
    font-size: 2rem;
    margin-top: 1rem;
}

.aman-sir{
    position: absolute;
    top: 61px;
    left: 69px;
    width: 374px;
    height: 500px;
    margin: 61px 1010px 62px 69px;
    background: #EEEEEE;
    border-radius: 15px;
}

.aman-sir object{
    margin-top: 1rem;
    margin-left: 3rem;
}

.aman-sir h3{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.about-team{
    width: 344px;
    height: 182px;
    margin-top: 1rem;
    font-size: 1rem;
    text-align: left;
    margin-left: 1rem;
}

.anjani-sir{
    position: absolute;
    top: 61px;
    left: 539px;
    width: 374px;
    height: 500px;
    margin: 61px 1010px 62px 69px;
    background: #EEEEEE;
    border-radius: 15px;
}

.mansi-mam{
    position: absolute;
    top: 61px;
    left: 1011px;
    width: 374px;
    height: 500px;
    margin: 61px 1010px 62px 69px;
    background: #EEEEEE;
    border-radius: 15px;
}

/* Career Page  */

.career-img{
    width: 100vw;
}


.section-2-career{
    width: 100vw;
    height: 464px;
    display: flex;
}

.left-career{
    margin-left: 145px;
    margin-top: 3rem;
    width: 17rem;
}

.left-career h3{
    text-align: center;
}

.left-career h1{
    margin-top: 1rem;
}

.left-career p{
    margin-top: 1rem;
}

.right-career{
    margin-left: 20rem;
    margin-top: 3rem;
}

.upper-team-work{
    display: flex;
}

.secure{
    margin-left: 4rem;
}

.upper-team-work p{
    width: 15rem;
}

.lower-team-work{
    display: flex;
    margin-top: 3rem;
}

.upgrade{
    margin-left: 4rem;
}

.lower-team-work p{
    width: 15rem;
}

.section-3-career{
    width: 100vw;
    background: #D4D4D4;
    height: 984px;
    position: relative;
}

.content-career-opening{
    text-align: center;
    width: 50rem;
    margin-left: 22rem;
    margin-top: 1rem;
    position: absolute;
}

.content-career-opening h3{
    margin-top: 1rem;
}

.content-career-opening h1{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.content-career-opening p{
    margin-top: 1rem;
}

.freelance{
    display: flex;
    margin-left: 3.5rem;
    width: 673px;
    height: 100px;
    background-color: white;
    margin-top: 0.5rem;
}

.freelance h5{
    margin-top: 3rem;
    margin-left: 3rem;
}

.experiance{
    margin-left: 4rem;
    text-align: center;
}

.deadline{
    margin-left: 5rem;
}

.content-writter{
    display: flex;
    margin-left: 3.5rem;
    width: 673px;
    height: 100px;
    background-color: white;
    margin-top: 0.5rem;
}

.content-writter-head{
    margin-left: 7rem;
}

.digital-market{
    display: flex;
    margin-left: 3.5rem;
    width: 673px;
    height: 100px;
    background-color: white;
    margin-top: 0.5rem;
}

.freelance-r{
    display: flex;
    margin-left: 3.5rem;
    width: 673px;
    height: 100px;
    background-color: white;
    margin-top: 0.5rem;
}

.node{
    display: flex;
    margin-left: 3.5rem;
    width: 673px;
    height: 100px;
    background-color: white;
    margin-top: 0.5rem;
}

/* Service Page  */

.service-img{
    width: 100vw;
}

.first{
    width: 100vw;
}

.second{
    width: 100vw;
}

.head{
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
}

.for{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.employeers h2{
    margin-left: 10rem;
}

.candidate h2{
    margin-left: 10rem;
}

.service-name{
    display: flex;
    margin-top: 3rem;
    width: 551px;
    height: 244px;
    background: linear-gradient( #4B95DA 0%, rgba(206, 169, 202, 0) 100%);
    border-radius: 20px;
}

.logo-service{
    margin-left: 3.5rem;
    margin-top: 5rem;
}



.service-name-desc{
    margin-left: 3rem;
    margin-top: 3.5rem;
}

.service-name-desc p{
    margin-top: 1rem;
}

/* Cources page  */

.one{
    margin-top: 2rem;
}

.input{
    margin-left: 10rem;
    width: 810px;
    height: 3rem;
    border-radius: 10px;
    position: absolute;
    text-align: center;
}

.search{
    position: relative;
    left: 11rem;
    top: 1rem;
}

.courses{
    display: flex;
    justify-content:space-around;
    margin-top: 4rem;
}

.left-courses{
    margin-left: 2rem;
}



.small{
    display: flex;
    cursor: pointer;
    /* margin-left: 1rem; */
}

.new{
    display: flex;
    border: 2px solid #F6C648;
    border-radius: 20px;
    padding: 5px;
    margin-top: 1rem;
    width: 140px;
    height: 40px;
}

.text{
    text-align: center;
    margin-left: 1rem;
}

.border-new{
    padding: 5px;
    border-radius: 50px;
    background: #F6C648;

}

.free{
    display: flex;
    border: 2px solid #15BE4F;
    border-radius: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 140px;
    height: 40px;
}

.border-free{
    padding: 5px;
    border-radius: 50px;
    background: #15BE4F;
    
}

.popular{
    display: flex;
    border: 2px solid #007DD8;
    border-radius: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 140px;
    height: 40px;
}

.border-popular{
    padding: 5px;
    border-radius: 50px;
    background: #007DD8;

}

.paid{
    display: flex;
    border: 2px solid #C565C7;
    border-radius: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 140px;
    height: 40px;
}

.border-paid{
    padding: 5px;
    border-radius: 50px;
    background: #C565C7;

}

.upcomming{
    display: flex;
    border: 2px solid #EC7D2D;
    border-radius: 20px;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 170px;
    height: 40px;
}

.border-upcomming{
    padding: 5px;
    border-radius: 50px;
    background: #EC7D2D;

}

.card-1{
    display: flex;
    width: 250px;
    height: 241px;
    /* border: 2px solid red; */
    border-radius: 20px;
    margin-top: 5rem;
}

.margin{
    margin-left: 8rem;
}

.ui{
    cursor: pointer;
}

.ui-upper{
    display: flex;
}

.ui-middle{
    margin-top: 0.5rem;
}

.ui-lower{
    display: flex;
    margin-top: 1rem;
}

.m1{
    margin-left: 2rem;
}

.card-2{
    display: flex;
    width: 250px;
    height: 241px;
    /* border: 2px solid red; */
    border-radius: 20px;
    margin-top: 3rem;
}

.m-b{
    margin-top: 3px;
}

.load-btn{
    border-radius: 20px;
    margin-left: 20rem;
    margin-top: 2rem;
    text-align: center;
}

.master-front{
    display: flex;
    margin-top: 2rem;
}

.content-upcoming{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 52px;
    margin-left: 1rem;
}

.favourite h2{
    margin-top: 3rem;
}